.body{
    background-color: black;
}
.calculator{
    width: 300px;
    color: white;
    margin: 100px auto;
    padding: 40px;
    background-color:black;
}
#display{
      width: 90%;
      padding: 10px;
      background-color:beige;
      color: purple;
      border-radius: 8px;
}
.buttons{
 padding: 10px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap:10px;
}
button:hover{
    color: black;
}
button{
    padding: 10px; 
    font-size: 20px;
    height: 40px;
    background-color: grey;
    color: white;
    border-radius: 8px;
}